[submodule "Server"]
	path = Server
	url = https://github.com/p1k-Server/Server
[submodule "dev/SimpleUIExtension"]
	path = dev/SimpleUIExtension
	url = https://github.com/p1k-Server/SimpleUIExtension
[submodule "dev/ConfiguratorExtension"]
	path = dev/ConfiguratorExtension
	url = https://github.com/p1k-Server/ConfiguratorExtension
[submodule "dev/CmdInterpreterExtension"]
	path = dev/CmdInterpreterExtension
	url = https://github.com/p1k-Server/CmdInterpreterExtension
[submodule "dev/SimpleService"]
	path = dev/SimpleService
	url = https://github.com/p1k-Server/SimpleService
[submodule "dev/ApacheFtpServerModule"]
    path = dev/ApacheFtpServerModule
    url = https://github.com/p1k-Server/ApacheFtpServerModule
