<server>
	<settings>
		<setting key="" val=""/>
	</settings>

    <services onLoad="start-all">

		<service name="ftp" type="Simple">
			<modules>
				<module name="ftp" type="ApacheFtpServer">
					<settings>
						<setting key="ftp-address" val="localhost"/>
						<setting key="ftp-port" val="49310"/>
						<setting key="ftp-pass-encrypt-algorithm" val="SHA-256"/>
						<setting key="ftp-users-anonymous" val="true"/>
						<setting key="ftp-directory" val="/"/>
						<setting key="ftp-login-fail-delay" val="500"/>
						<setting key="ftp-login-max" val="15"/>
						<setting key="ftp-threads-max" val="0"/>
						<setting key="logger-verbose" val="true"/>
					</settings>
				</module>
			</modules>
		</service>

    </services>

    <actions>
		<action id="start-all">
			<action id="start-test"/>
		</action>
        <action id="start-test">
            <service serviceName="ftp" method="start" delay="300"/>
            <module serviceName="ftp" moduleName="ftp" method="start" delay="300"/>
        </action>
    </actions>
</server>